 @media screen {

   main {

    .opacity{
      position: absolute;
      top:0;
      left:0;
      width: 100vw;
      height: 100vh;
      z-index: 2;
      background-color: #FFFFFF;
      opacity: 0.4;
    }

     @media (max-width: 767px) {
       width: 320px;
     }

     @media (min-width: 768px) {
       width: 768px;
     }

     @media (min-width: 1120px) {
       width: 1120px;
     }

     @media (min-width: 1440px) {
       width: 1440px;
     }

     h1 {

       font-family: Nekst, sans-serif;
       font-weight: 900;
       line-height: 90%;

       @media (min-width: 768px) {
         font-size: 54px;
         width: 753px;
       }

       @media (max-width: 767px) {
         font-size: 34px;
         width: 259px;

       }

     }

     form {
       width: 100%;
       display: grid;

       @media (max-width: 767px) {
         grid-template-columns: 280px;
         ;
         grid-template-rows: repeat(3, 96px) repeat(3, 60px);
         gap: 16px;

       }

       @media (min-width: 768px) and (max-width: 1119px) {
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(5, 119px);
         gap: 32px;
         grid-template-areas:
           "A A"
           "B B"
           "C C"
           "D E"
           "F .";

         .sec-A {
           grid-area: A;
         }

         .sec-B {
           grid-area: B;
         }

         .sec-D {
           grid-area: D;
         }

         .sec-C {
           grid-area: C;
         }

         .sec-E {
           grid-area: E;
         }

         .sec-F {
           grid-area: F;
         }


       }

       @media (min-width: 1120px) {
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: repeat(2, 119px);
         gap: 44px 32px;
       }


       section {

         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;


         h3 {
           font-family: Gilroy, sans-serif;
           font-weight: 400;
           width: 100%;
           color: #575757;

           @media (min-width: 768px) {
             font-size: 16px;
           }

           @media (max-width: 767px) {
             font-size: 14px;
           }
         }

         div {
           width: 90%;
           display: flex;
           flex-direction: row;
           justify-content: space-between;


           span {
             font-family: Nekst, sans-serif;
             font-weight: 900;
             color: #575757;
             height: fit-content;

             @media (min-width: 768px) {
               font-size: 30px;
             }

             @media (max-width: 767px) {
               font-size: 22px;
             }
           }

           input[type="text"] {
             border: none; //цвет рамки
             background: transparent !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
             outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
             font-family: Nekst, sans-serif;
             font-weight: 900;
             width: 200px;

             @media (min-width: 768px) {
               font-size: 30px;
             }

             @media (max-width: 767px) {
               font-size: 22px;
             }

             color: #575757; //цвет шрифта в обычном состоянии
           }

           input[type="text"]:focus {
             color: #575757;
             border: none;
           }

           .percent-input {
             background-color: #EBEBEC;
             width: fit-content;
             height: fit-content;
             padding: 7px;
             border-radius: 16px;

             span {
               font-size: 20px;
             }

             input[type="text"] {
               font-size: 20px;

               @media (min-width: 768px) {
                 width: 30px;
               }

               @media (max-width: 767px) {
                 width: 30px;
               }


             }
           }

         }

         /*STYLED SLIDER*/

         input[type=range].styled-slider {
           height: 20px;
           width: 90%;
           -webkit-appearance: none;

         }

         /*progress support*/
         input[type=range].styled-slider.slider-progress {
           --range: calc(var(--max) - var(--min));
           --ratio: calc((var(--value) - var(--min)) / var(--range));
           --sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));
         }

         input[type=range].styled-slider:focus {
           outline: none;
         }

         /*webkit*/
         input[type=range].styled-slider::-webkit-slider-thumb {
           -webkit-appearance: none;
           width: 20px;
           height: 20px;
           border-radius: 10px;
           background: #FF9514;
           border: none;
           box-shadow: none;
           margin-top: calc(2px * 0.5 - 20px * 0.5);
         }

         input[type=range].styled-slider::-webkit-slider-runnable-track {
           height: 2px;
           border: none;
           border-radius: 1px;
           background: #E1E1E1;
           box-shadow: none;
         }

         input[type=range].styled-slider::-webkit-slider-thumb:hover {
           width: 24px;
           height: 24px;
           border-radius: 17px;
           margin-top: calc(2px * 0.5 - 24px * 0.5);
           transition: .5s;
           cursor: pointer;
         }

         input[type=range].styled-slider::-webkit-slider-runnable-track {
           background: #E1E1E1;
         }

         input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
           background: linear-gradient(#FF9514, #FF9514) 0/var(--sx) 100% no-repeat, #E1E1E1;
         }

         /*mozilla*/
         input[type=range].styled-slider::-moz-range-thumb {
           width: 20px;
           height: 20px;
           border-radius: 10px;
           background: #FF9514;
           border: none;
           box-shadow: none;
         }

         input[type=range].styled-slider::-moz-range-track {
           height: 2px;
           border: none;
           border-radius: 1px;
           background: #E1E1E1;
           box-shadow: none;
         }

         input[type=range].styled-slider::-moz-range-thumb:hover {
           width: 24px;
           height: 24px;
           border-radius: 17px;
           margin-top: calc(2px * 0.5 - 24px * 0.5);
           transition: .5s;
           cursor: pointer;
         }

         input[type=range].styled-slider::-moz-range-track {
           background: #E1E1E1;
         }

         input[type=range].styled-slider.slider-progress::-moz-range-track {
           background: linear-gradient(#FF9514, #FF9514) 0/var(--sx) 100% no-repeat, #E1E1E1;
         }

         /*ms*/
         input[type=range].styled-slider::-ms-fill-upper {
           background: transparent;
           border-color: transparent;
         }

         input[type=range].styled-slider::-ms-fill-lower {
           background: transparent;
           border-color: transparent;
         }

         input[type=range].styled-slider::-ms-thumb {
           width: 20px;
           height: 20px;
           border-radius: 10px;
           background: #FF9514;
           border: none;
           box-shadow: none;
           margin-top: 0;
           box-sizing: border-box;
         }

         input[type=range].styled-slider::-ms-track {
           height: 2px;
           border-radius: 1px;
           background: #E1E1E1;
           border: none;
           box-shadow: none;
           box-sizing: border-box;
         }

         input[type=range].styled-slider::-ms-thumb:hover {
           width: 24px;
           height: 24px;
           border-radius: 17px;
           margin-top: calc(2px * 0.5 - 24px * 0.5);
           transition: .5s;
           cursor: pointer;
         }

         input[type=range].styled-slider:active::-ms-track {
           background: #E1E1E1;
         }

         input[type=range].styled-slider.slider-progress::-ms-fill-lower {
           height: 2px;
           border-radius: 1px 0 0 1px;
           background: #FF9514;
           border: none;
           border-right-width: 0;
         }

         .calculated {
           font-family: Nekst, sans-serif;
           font-weight: 900;
           align-self: flex-start;
           color: #333333;

           @media (min-width: 768px) {
             font-size: 54px;
           }

           @media (max-width: 767px) {
             font-size: 22px;
           }
         }

       }

       button {
         -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;
         border: 0;
         border-radius: 0;
         background: #FF9514;
         color: #FFFFFF;
         font-family: Nekst, sans-serif;
         font-weight: 900;
         border-radius: 40px;
         padding: 8px 16px 12px;
         justify-self: center;
         
         
         @media (min-width: 768px) and (max-width: 1119px) {
          font-size: 30px;
          line-height: 36px;
          height: 68px;
          width: 345px;
          align-self: start;
        }

        @media (max-width: 767px) {
          font-size: 22px;
         line-height: 20px;
         height: 60px;
         width: 280px;
         align-self: end;
        }
   
        @media (min-width: 1120px) and (max-width: 1339px) {
          font-size: 30px;
          line-height: 36px;
          height: 68px;
          width: 345px;
          align-self: end;
        }
   
        @media (min-width: 1440px) {
          font-size: 30px;
          line-height: 36px;
          height: 68px;
          width: 426px;
          align-self: end;
        }

        .loading{
          background-color: #FF9514;
          z-index: 3;
        }
        .lds-ring {
          display: inline-block;
          position: relative;
          width: 30px;
          height: 30px;
        }
        .lds-ring div {
          box-sizing: border-box;
          display: block;
          position: absolute;
          width: 30px;
          height: 30px;
          margin: 7px;
          border: 2px solid #fff;
          border-radius: 50%;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          border-color: #fff transparent transparent transparent;
        }
        .lds-ring div:nth-child(1) {
          animation-delay: -0.45s;
        }
        .lds-ring div:nth-child(2) {
          animation-delay: -0.3s;
        }
        .lds-ring div:nth-child(3) {
          animation-delay: -0.15s;
        }
        @keyframes lds-ring {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
       }
       button:hover{
        cursor: pointer;
        background-color: #111111;
        border: none;
       }
       button:disabled {
        background-color: #575757;
        border: none;
       }
     }

   }
 }